<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PGCP |{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset("vendor/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
        <link href="{{ asset("vendor/nprogress/nprogress.css") }}" rel="stylesheet">
        <link href="{{ asset("vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css") }}" rel="stylesheet">
        <link href="{{ asset("vendor/build/css/custom.min.css") }}" rel="stylesheet">
        <link href="{{ asset('vendor/Pied/pied.css') }}" rel="stylesheet">
        {#<link rel="icon" type="image/png" href="{{ asset('images/ensias.png') }}" />#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="nav-md" style="background-color: #900f00;">

{% block body %}
    {#<div class="page-header" >#}
        {#<h1 style="color: #fff;">ENSIAS#}
            {#<small>Sécurité des systèmes d'information</small>#}
        {#</h1>#}
    {#</div>#}
    <div class="container body">
        <div class="main_container">
            {% block menu %}

            {% endblock %}
            {% block top %}
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-left">
                                <br>
                                 <strong>S</strong>écurité des <strong>S</strong>ystèmes d'<strong>I</strong>nformation

                            </ul>
                            {% if app.user is empty %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="{{ path('fos_user_security_login') }}" class="user-profile" >
                                            <img src="{{ asset("images/anonyme.jpg") }}" alt="">Connexion
                                            <span class=" fa fa-an"></span>
                                        </a>
                                    </li>
                                </ul>
                            {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="{{ asset("images/img.jpg") }}" alt="">Connecté en tant que <strong>{{ app.user.username | upper }}</strong>
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="javascript:;"><i class="fa fa-user"></i> Profile</a></li>
                                        <li><a href="javascript:;"><i class="fa fa-tasks"></i> Tâches</a></li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li class="label-warning"><a href="{{ path('pgcp_admin') }}"><i class="fa fa-cogs"></i> Configuration</a></li>
                                        {% endif %}
                                        <li><a href="javascript:;"><i class="fa fa-question"></i> Help</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>
                                </li>

                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="{{ asset("images/img.jpg") }}" alt="Profile Image" /></span>
                                                <span>
                              <span>Lamhaddar Halim</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                                <span class="message">
                              There's something important i want u to hear !!
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="{{ asset("images/img.jpg") }}" alt="Profile Image" /></span>
                                                <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="{{ asset("images/img.jpg") }}" alt="Profile Image" /></span>
                                                <span>
                              <span>Halim Lamhaddar</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="{{ asset("images/img.jpg") }}" alt="Profile Image" /></span>
                                                <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
            {% endblock %}





            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-lg-12">

                                    <ol class="breadcrumb" style="background-color: whitesmoke" >
                                        <li>
                                            <a href="{{ path('pgcp_homepage') }}">ENSIAS</a>
                                        </li>

                                        {% block soustitre %}{% endblock %}


                                    </ol>


                            </div>
                            <div class="col-lg-12">



                            </div>
                        </div>
                    </div>
                    <div class="clear">
                        {% block content %}

                        {% endblock %}

                    </div>
                </div>
            </div>
            <!-- /page content -->




            {% block footer %}
                <!-- footer content -->
                {#<footer style="background-color: #871000;color: whitesmoke;">#}
                    {#-------------------------------------------------------------------------#}
                    {#<div class="pull-right">#}
                        {#Ensias - Plateforme de gestion réalisée par <em>SSI</em>#}
                    {#</div>#}
                    {#<div class="clearfix"></div>#}
                {#</footer>#}
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                                <h6 class="heading7">LOCALISATION</h6>
                                <div class="container">
                                    <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Ensias, &t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>wordpress themes by <a href="https://wpicus.com">wpicus</a></div><style>.mapouter{overflow:hidden;height:250px;}.gmap_canvas {background:none!important;height:500px;width:600px;}</style></div>
                                </div>

                            </div>
                            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                                <h6 class="heading7">LIENS UTILES</h6>
                                <ul class="footer-ul">
                                    <li><a href="#"> UM5</a></li>
                                    <li><a href="#"> ENSSUP</a></li>
                                    <li><a href="#"> CNRST</a></li>
                                    <li><a href="#"> IMIST</a></li>
                                    <li><a href="#"> CSERFS</a></li>
                                    <li><a href="#"> ALUMNI</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                                <h6 class="heading7">SUIVEZ NOUS SUR</h6>
                                <div class="post">
                                    <p><i class="fa fa-facebook"></i> Facebook <span>https://fr-fr.facebook.com</span></p>
                                    <p><i class="fa fa-twitter"></i> Twitter<span>https://fr-fr.twitter.com</span></p>
                                    <p><i class="fa fa-linkedin"></i> LinkedIn<span>https://fr-fr.linkedin.com</span></p>
                                    <p><i class="fa fa-google-plus"></i> Google<span>https://fr-fr.google.com</span></p>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 footerleft ">
                                <div class="logofooter"> CONTACTEZ NOUS</div>
                                <p>Pour plus d'informations, contactez nous sur :</p>
                                <p><i class="fa fa-map-pin"></i> Avenue Mohammed Ben Abdallah Regragui, Madinat Al Irfane, BP 713, Agdal Rabat, Maroc</p>
                                <p><i class="fa fa-phone"></i> Téléphone (Maroc) : 0537 778579/ 0537 777317</p>
                                <p><i class="fa fa-envelope"></i> E-mail : ensias@gmail.com</p>

                            </div>
                        </div>
                    </div>
                </footer>
                <!--footer start from here-->

                <div class="copyright">
                    <div class="container">
                        <div class="col-md-6">
                            <p></p>
                        </div>
                        <div class="col-md-6">
                            <ul class="bottom_ul">
                                <li><a href="#">© 2017 Ecole Nationale Supérieure d'Informatique et d'Analyse des Systèmes</a></li>
                                <li><a href="#">A propos</a></li>
                                <li><a href="#">Contactez nous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /footer content -->
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("vendor/jquery/dist/jquery.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap/dist/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("vendor/fastclick/lib/fastclick.js") }}"></script>
    <script src="{{ asset("vendor/nprogress/nprogress.js") }}"></script>
    <script src="{{ asset("vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js") }}"></script>
    <script src="{{ asset("vendor/build/js/custom.min.js") }}"></script>

{% endblock %}
</body>
</html>