<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PGCP |{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset("vendor/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
        <link href="{{ asset("vendor/nprogress/nprogress.css") }}" rel="stylesheet">
        <link href="{{ asset("vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css") }}" rel="stylesheet">
        <link href="{{ asset("vendor/build/css/custom.min.css") }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="nav-md">

{% block body %}
    <div class="container body">
        <div class="main_container">
            {% block menu %}

            {% endblock %}
            {% block top %}
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            {% if app.user is empty %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="{{ path('fos_user_security_login') }}" class="user-profile" >
                                            <img src="{{ asset("images/anonyme.jpg") }}" alt="">Connexion
                                            <span class=" fa fa-an"></span>
                                        </a>
                                    </li>
                                </ul>
                            {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="{{ asset("images/img.jpg") }}" alt="">Connecté en tant que <strong>{{ app.user.username | upper }}</strong>
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="javascript:;"><i class="fa fa-user"></i> Profile</a></li>
                                        <li><a href="javascript:;"><i class="fa fa-tasks"></i> Tâches</a></li>
                                        <li><a href="javascript:;"><i class="fa fa-cogs"></i> Configuration</a></li>
                                        <li><a href="javascript:;"><i class="fa fa-question"></i> Help</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>
                                </li>

                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="{{ asset("images/img.jpg") }}" alt="Profile Image" /></span>
                                                <span>
                              <span>Lamhaddar Halim</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="{{ asset("images/img.jpg") }}" alt="Profile Image" /></span>
                                                <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="{{ asset("images/img.jpg") }}" alt="Profile Image" /></span>
                                                <span>
                              <span>Halim Lamhaddar</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="{{ asset("images/img.jpg") }}" alt="Profile Image" /></span>
                                                <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block footer %}
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Ensias - Plateforme de gestion réalisée par <em>SSI</em>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("vendor/jquery/dist/jquery.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap/dist/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("vendor/fastclick/lib/fastclick.js") }}"></script>
    <script src="{{ asset("vendor/nprogress/nprogress.js") }}"></script>
    <script src="{{ asset("vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js") }}"></script>
    <script src="{{ asset("vendor/build/js/custom.min.js") }}"></script>

{% endblock %}
</body>
</html>