{% extends('@PGCP/layout.html.twig') %}
{% block title %}{{ parent() }} Login{% endblock %}
{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <a href="{{ path('pgcp_homepage') }}">Accueil</a>
                            </li>


                        </ol>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                {# S'il y a une erreur, on l'affiche dans un joli cadre #}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.message }}</div>
                                {% endif %}

                                {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
                                <form class="form-horizontal" action="{{ path('login_check') }}" method="post">

                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">@</span>
                                        <input type="text" name="_username" class="form-control" placeholder="{{ last_username }}" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group">
                                        <input type="password" name="_password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                                        <span class="input-group-addon" id="basic-addon2">Plaintext</span>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <button type="submit" class="btn btn-success">Connexion</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}