{% extends('@PGCP/layout.html.twig') %}
{% block title %}{{ parent() }} Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/Slides/engine1/style.css') }}" />
    <script type="text/javascript" src="{{ asset('vendor/Slides/engine1/jquery.js') }}"></script>
    <!-- End WOWSlider.com HEAD section -->

    {#CALENDAR#}
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/Calendar/CSS/styles.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>


{% endblock %}

{% block soustitre %}
    <li class="active">
        <a href="{{ path('pgcp_homepage') }}">Accueil</a>
    </li>
{% endblock %}



{% block content %}



    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                {#SLIDES#}
                <!-- Start WOWSlider.com BODY section -->
                {% block actualites %}


                <div id="wowslider-container1">
                    <div class="ws_images">
                        <ul>
                            {% for slide in slides %}
                            <li><img src="{{ asset('uploads/slides/' ~ slide.image) }}" alt="{{ slide.titre }}" title="{{ slide.titre }}" id="wows1_0"/></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="ws_bullets"><div>
                            {% for slide in slides %}
                            <a href="#" title="{{ slide.titre }}"><span><img src="{{ asset('uploads/slides/' ~ slide.image) }}" alt="ssi"/>6</span></a>
                            {% endfor %}
                        </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wow slider</a> by WOWSlider.com v8.7</div>
                    <div class="ws_shadow"></div>
                </div>
                <script type="text/javascript" src="{{ asset('vendor/Slides/engine1/wowslider.js') }}"></script>
                <script type="text/javascript" src="{{ asset('vendor/Slides/engine1/script.js') }}"></script>
                <!-- End WOWSlider.com BODY section -->



                    {#caroussel#}

                {#Formation SSI#}

                    <br><br>
                <div class="carousel slide slide-carousel" id="carousel-1" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li style="border-color: #90111A" data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li style="border-color: #8a6d3b" data-target="#carousel-1" data-slide-to="1"></li>
                        <li style="border-color: #900f00" data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>


                    <div class="carousel-inner well-large">

                        <div class="item active">
                            <div class="panel panel-warning slide-content">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Objectifs de la formation</h3>
                                </div>
                                <div class="panel-body">
                                    &nbsp;
                                    &nbsp;
                                    La filière SSI vise à former des ingénieurs informaticiens spécialistes en sécurité
                                    des systèmes d’information et conscients de son importance pour l’instauration de la con-
                                    fiance numérique qui constitue, sans aucun doute, la pierre angulaire pour le développe-
                                    ment de l’économie numérique à l’échelle nationale. En effet, elle offre en premier lieu
                                    à l’élève-ingénieur une base solide en Informatique afin de lui permettre d’acquérir par
                                    la suite une maîtrise des principaux concepts, technologies, outils et méthodes en
                                    matière de sécurité des SI et des e-sevices (sécurité physique, système, réseau et appli-
                                    cative}. Cette filière vise aussi à former l’élève-ingénieur sur les aspects organisationnels
                                    et managériaux {normes, méthodes, référentiels de bonnes pratiques, etc.) en matière
                                    de gouvernance de la sécurité des SI. Enfin, cette filière à l’instar de toutes les filières
                                    de l’ENSIAS, s’intéresse au renforcement des techniques de communication, à la maîtrise
                                    de l’Anglais et à l’acquisition des connaissances de base en Finance, Gestion de projets
                                    et Entreprenariat.


                                </div>
                            </div>
                        </div>
                        {#item2#}
                    <div class="item">
                        <div class="panel panel-danger slide-content">
                            <div class="panel-heading">
                                <h3 class="panel-title">Compétences majeures à acquérir</h3>
                            </div>
                            <div class="panel-body">
                                &nbsp;
                                &nbsp;
                                En plus des compétences de base en Informatique, les principales compétences visées
                                sont


                                <br>
                                <ul>
                                    <li>
                                        Effectuer des évaluations des menaces, évaluer I hiérarchiser les vulnérabilités
                                        (en utilisant, notamment les outils appropriés de tests de pénétration et de vulnérabilité
                                        et ce en tout respect des lois et des réglementations) afin d‘évaluer les risques de sécurité
                                        pour les actifs informationnels de l'entreprise (en s’inspirant des standards et des méth-
                                        odes reconnues d’analyse de risque)
                                    </li>
                                    <li>
                                        Appliquer une approche basée sur des normes (comme les normes de la famille ISO
                                        27000) pour réduire les risques grâce a la mise en place d’un système de management de
                                        la sécurité des SI et la mise en œuvre des contrôles de sécurité correspondants
                                    </li>
                                    <li>
                                        Administrer convenablement un système d’exploitation (Unix ou Windows) ou un
                                        réseau en tenant compte des aspects de sécurité

                                    </li>
                                    <li>
                                        Évaluer et appliquer les solutions et les mesures de sécurité nécessaires à la concep-
                                        tion /déploiement d‘une architecture réseau (filaire ou mobile) sécurisée ou au développe-
                                        ment d’une application Web ou mobile sécurisée
                                    </li>
                                    <li>
                                        Sécuriser les transactions électroniques des e/m-services dans le cadre du e-Business
                                        (ecommerce, e-gov, e-health, e-banking, ...) en se basant sur les protocoles et les solutions
                                        de sécurité les plus fiables permettant d’assurer la confidentialité, l’intégrité et la
                                        disponibilité des ces services
                                    </li>
                                    <li>
                                        Elaborer et mettre en œuvre des politiques et des solutions de sécurité qui démon-
                                        trent une compréhension approfondie des fondements de la sécurité (y compris les algo-
                                        rithmes cryptographiques) tout en tenant compte des besoins métiers et des contraintes
                                        réglementaires et financières

                                    </li>
                                    <li>
                                        Conseiller les décideurs et le Top Management dans le domaine de la sécurité tout
                                        en veillant au respect de la conformité avec les lois et les réglementations en vigueur (loi
                                        08-09, loi 53-05, loi 07-03,…).
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        {#item#}
                    <div class="item">
                        <div class="panel panel-warning  slide-content">
                            <div class="panel-heading">
                                <h3 class="panel-title">Débouchés</h3>
                            </div>
                            <div class="panel-body">
                                Cette spécialité va lui permettre d’occuper etlou d’évoluer vers les métiers suivants
                                <ul>
                                    <li>Ingénieur Sécurité/ Pentesteur</li>
                                    <li>Administrateur Systèmes] Ad ministrateur Réseaux</li>
                                    <li>Responsable sécurité des réseaux</li>
                                    <li>Responsable de la sécurité applicative</li>
                                    <li>Manager des Risques IT/ Chargé de monitoring des incidents IT</li>
                                    <li>Consultant (junior puis senior) en Sécurité de l’Information</li>
                                    <li>Expert! Auditeur en Sécurité des systèmes d‘information</li>
                                    <li>Responsable de la sécurité des systèmes d’information (RSSI)</li>
                                    <li>Directeur des Systèmes d’Information</li>
                                    <li>Directeur de l’Audit et contrôle des SI.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>
                {#Fin formation SSI#}
                {% endblock %}

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {#ACTUALITES#}
                        <div class="row carousel-row"><!--actuuualites-->
                            <div class="col-xs-8 col-xs-offset-2 slide-row">
                                <div class="carousel slide slide-carousel" id="carousel-1" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-1" data-slide-to="1"></li>
                                        <li data-target="#carousel-1" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner well-large">
                                        {% for actu in actualites %}
                                            <div class="item {% if actu.id==1 %}active{% endif %}">
                                                <strong><h4><span class="badge"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{ actu.date |date("m/d/Y H:i:s", false) }}</span></h4></strong>
                                                <div class="slide-content">
                                                    <p>
                                                        <em><u>AVIS AUX {{ actu.avis | upper }} :</u></em><br><br>
                                                        &nbsp;&nbsp;&nbsp;{{ actu.titre }}
                                                    </p>
                                                    <p class="pull-right">

                                                        <a href="{{ path('pgcp_actualite',{'id':actu.id}) }}"><em>Lire la suite <span class="glyphicon glyphicon-chevron-right"></span></em></a>
                                                    </p>
                                                </div>
                                                <div class="slide-footer">

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                                <div class="panel panel-red row">
                                    <div class="panel-heading dark-overlay">
                                        <strong>Calendrier</strong></div>
                                    <div class="panel-body">
                                        <div id="calendar"><div class="datepicker datepicker-inline">
                                                <div class="datepicker-days" style="display: block;">
                                                    <table class=" table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th class="prev" style="visibility: visible;">«</th>
                                                                <th class="datepicker-switch" colspan="5">May 2017</th>
                                                                <th class="next" style="visibility: visible;">»</th>
                                                            </tr>
                                                            <tr>
                                                                <th class="dow">Su</th>
                                                                <th class="dow">Mo</th>
                                                                <th class="dow">Tu</th>
                                                                <th class="dow">We</th>
                                                                <th class="dow">Th</th>
                                                                <th class="dow">Fr</th>
                                                                <th class="dow">Sa</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td class="old day">30</td><td class="day">1</td><td class="day">2</td><td class="day">3</td><td class="day">4</td><td class="day">5</td><td class="day">6</td></tr><tr><td class="day">7</td><td class="day">8</td><td class="day">9</td><td class="day">10</td><td class="day">11</td><td class="day">12</td><td class="day">13</td></tr><tr><td class="day">14</td><td class="day">15</td><td class="day">16</td><td class="day">17</td><td class="day">18</td><td class="day">19</td><td class="day">20</td></tr><tr><td class="day">21</td><td class="day">22</td><td class="day">23</td><td class="day">24</td><td class="day">25</td><td class="day">26</td><td class="day">27</td></tr><tr><td class="day">28</td><td class="day">29</td><td class="day">30</td><td class="day">31</td><td class="new day">1</td><td class="new day">2</td><td class="new day">3</td></tr><tr><td class="new day">4</td><td class="new day">5</td><td class="new day">6</td><td class="new day">7</td><td class="new day">8</td><td class="new day">9</td><td class="new day">10</td></tr></tbody><tfoot><tr><th class="today" style="display: none;" colspan="7">Today</th></tr><tr><th class="clear" style="display: none;" colspan="7">Clear</th></tr></tfoot></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" style="visibility: visible;">«</th><th class="datepicker-switch" colspan="5">2017</th><th class="next" style="visibility: visible;">»</th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td></tr></tbody><tfoot><tr><th class="today" style="display: none;" colspan="7">Today</th></tr><tr><th class="clear" style="display: none;" colspan="7">Clear</th></tr></tfoot></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" style="visibility: visible;">«</th><th class="datepicker-switch" colspan="5">2010-2019</th><th class="next" style="visibility: visible;">»</th></tr></thead><tbody><tr><td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year">2017</span><span class="year">2018</span><span class="year">2019</span><span class="year new">2020</span></td></tr></tbody><tfoot><tr><th class="today" style="display: none;" colspan="7">Today</th></tr><tr><th class="clear" style="display: none;" colspan="7">Clear</th></tr></tfoot></table></div></div></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {#MAP#}

                        <div class="container">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br><br>
    </div>







{% endblock %}