{% extends('@PGCP/layout.html.twig') %}
{% block title %}{{ parent() }} Home | Professeurs {% endblock %}
{% block soustitre %}

    <li class="active" >
        <a href="{{ path('pgcp_professeur') }}">Professeurs</a>
    </li>

{% endblock %}
{% block content %}

    {% if not id=='' %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Cours</strong> enregistré dans la BD ...

        </div>
    {% endif %}


    <blockquote style="border-color: #73879c">
        Espace de travail resérvé à <strong>{{ app.user.username }}</strong>.
        <small>Mes cours déposés</small>
    </blockquote>

    <div class="form-group">
        <div class="col-sm-10">
            <a href="{{ path('pgcp_professeur_ajouterCours') }}"><button type="submit" class="btn btn-primary">
                    <span class="fa fa-plus-square"></span>  Ajouter un Cours
                </button></a>
        </div>
    </div>


    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Intitulé</th>
            <th>Description</th>
            <th>Objectifs</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for cours in courses %}
            {% if cours.proprietaire == app.user.username %}
        <tr>
            <td>{{ cours.intitule }}</td>
            <td>{{ cours.description }}</td>
            <td>{{ cours.objectifs }}</td>
            <td>
                <a href="{{ asset('uploads/cours/' ~ cours.lien) }}" title="Visualiser le cours">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
                {% endif %}
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>





{% endblock %}